# Robos en la CDMX

In [1]:
import geopandas as gpd
import pandas as pd

## **DELITOS**

In [2]:
delitos = pd.read_csv(r"C:\Heri\GitHub\.Semester\Geospatial-Data-Analysis\07-Trabajo\Delitos\Municipal-Delitos-2015-2025_ene2025.csv", encoding='latin1')

In [3]:
delitos = delitos[delitos['Entidad'] == 'Ciudad de México']

In [4]:
# drop Entidad column
delitos = delitos.drop(columns=['Entidad', 'Clave_Ent'])

In [5]:
# drop where Municipio == 'No Especificado'
delitos = delitos[delitos['Municipio'] != 'No Especificado']

In [6]:
# keep before 2025
delitos = delitos[delitos['Año'] < 2025]

In [7]:
# save memory
delitos = delitos.drop(columns=['Municipio'])

In [8]:
# change column names
delitos = delitos.rename(columns={'Cve. Municipio': 'Clave'})

In [9]:
delitos

,Año,Clave,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
25970,2015,9002,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,4,0.0,3.0,4.0,6.0,1.0,1.0,2.0,5.0,1.0,2.0,3.0
25971,2015,9002,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0
25972,2015,9002,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,2,1.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0
25973,2015,9002,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25974,2015,9002,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104251,2024,9017,Otros bienes jurídicos afectados (del fuero co...,Falsificación,Falsificación,Falsificación,5,8.0,5.0,9.0,12.0,11.0,17.0,11.0,16.0,17.0,12.0,9.0
2104252,2024,9017,Otros bienes jurídicos afectados (del fuero co...,Contra el medio ambiente,Contra el medio ambiente,Contra el medio ambiente,4,6.0,4.0,5.0,3.0,0.0,3.0,4.0,4.0,2.0,3.0,4.0
2104253,2024,9017,Otros bienes jurídicos afectados (del fuero co...,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,8,14.0,12.0,15.0,22.0,14.0,16.0,10.0,14.0,11.0,14.0,15.0
2104254,2024,9017,Otros bienes jurídicos afectados (del fuero co...,Electorales,Electorales,Electorales,0,0.0,0.0,5.0,12.0,22.0,2.0,0.0,0.0,2.0,0.0,0.0
2104255,2024,9017,Otros bienes jurídicos afectados (del fuero co...,Otros delitos del Fuero Común,Otros delitos del Fuero Común,Otros delitos del Fuero Común,38,35.0,38.0,45.0,49.0,26.0,53.0,44.0,43.0,35.0,36.0,27.0

In [10]:
delitos.to_csv(r'delitos-cdmx.csv', index=False)

# **MUN.SHP**

In [11]:
    
mun = gpd.read_file(r'C:\Heri\GitHub\.Semester\Geospatial-Data-Analysis\07-Trabajo\09_ciudaddemexico\conjunto_de_datos\09mun.shp')

In [12]:
mun = mun.drop(columns=['CVE_ENT', 'CVE_MUN'])

In [13]:
# drop the firt str from CVEGEO
mun['CVEGEO'] = mun['CVEGEO'].str[1:]

In [14]:
mun

,CVEGEO,NOMGEO,geometry
0,9002,Azcapotzalco,"POLYGON ((2794859.977 837218.408, 2794861.69 8..."
1,9003,Coyoacán,"POLYGON ((2800218.995 820661.624, 2800250.439 ..."
2,9004,Cuajimalpa de Morelos,"POLYGON ((2787229.79 825329.285, 2787272.744 8..."
3,9005,Gustavo A. Madero,"POLYGON ((2802175.66 843326.718, 2801806.564 8..."
4,9006,Iztacalco,"POLYGON ((2808145.908 826363.205, 2808144.575 ..."
5,9007,Iztapalapa,"POLYGON ((2812453.035 823708.051, 2812495.143 ..."
6,9008,La Magdalena Contreras,"POLYGON ((2792518.205 818323.067, 2792478.173 ..."
7,9009,Milpa Alta,"POLYGON ((2814877.4 806710.534, 2814871.827 80..."
8,9010,Álvaro Obregón,"POLYGON ((2794395.922 824857.553, 2794434.245 ..."
9,9011,Tláhuac,"POLYGON ((2816579.32 817395.961, 2816605.02 81..."
10,9012,Tlalpan,"POLYGON ((2793795.253 814557.607, 2793840.057 ..."
11,9013,Xochimilco,"POLYGON ((2804014.964 816753.044, 2804027.68 8..."
12,9014,Benito Juárez,"POLYGON ((2798716.061 825872.886, 2798801.484 ..."
13,9015,Cuauhtémoc,"POLYGON ((2800483.029 832381.312, 2800517.052 ..."
14,9016,Miguel Hidalgo,"POLYGON ((2794088.523 833114.564, 2794079.895 ..."
15,9017,Venustiano Carranza,"POLYGON ((2802603.341 831349.5, 2802657.676 83..."

In [15]:
# change the name of the column
mun = mun.rename(columns={'CVEGEO': 'Clave', 'NOMGEO': 'Municipio'})

In [16]:
mun.crs

<Projected CRS: PROJCS["MEXICO_ITRF_2008_LCC",GEOGCS["MEXICO_ITRF_ ...>
Name: MEXICO_ITRF_2008_LCC
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Lambert Conic Conformal (2SP)
Datum: International Terrestrial Reference Frame 2008
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [17]:
# convert to EPSG:6372
mun = mun.to_crs(epsg=6372)

In [18]:
mun.crs

<Projected CRS: EPSG:6372>
Name: Mexico ITRF2008 / LCC
Axis Info [cartesian]:
- N[north]: Northing (metre)
- E[east]: Easting (metre)
Area of Use:
- name: Mexico - onshore and offshore.
- bounds: (-122.19, 12.1, -84.64, 32.72)
Coordinate Operation:
- name: Mexico LCC
- method: Lambert Conic Conformal (2SP)
Datum: Mexico ITRF2008
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [19]:
# save to gpkg
mun.to_file(r'mun-cdmx.gpkg', layer='mun', driver='GPKG')

## **POBLACIÓN**

In [20]:
censo = pd.read_csv(r'C:\Heri\GitHub\.Semester\Geospatial-Data-Analysis\07-Trabajo\Censo de Poblacion y Vivienda\iter_09_cpv2020\conjunto_de_datos\conjunto_de_datos_iter_09CSV20.csv', encoding='utf-8-sig')

In [21]:
censo

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,9,Ciudad de México,0,Total de la entidad Ciudad de México,0,Total de la Entidad,NaN,NaN,NaN,9209944,...,2536523,2084156,1290811,957162,568827,46172,77272,561128,10528,*
1,9,Ciudad de México,0,Total de la entidad Ciudad de México,9998,Localidades de una vivienda,NaN,NaN,NaN,320,...,67,23,17,8,8,9,14,52,5,*
2,9,Ciudad de México,0,Total de la entidad Ciudad de México,9999,Localidades de dos viviendas,NaN,NaN,NaN,364,...,89,27,22,6,4,10,15,72,3,*
3,9,Ciudad de México,2,Azcapotzalco,0,Total del Municipio,NaN,NaN,NaN,432205,...,123961,105899,66399,50965,31801,1661,2869,22687,322,*
4,9,Ciudad de México,2,Azcapotzalco,1,Azcapotzalco,"99°11'03.698"" W","19°29'02.770"" N",2244.0,432205,...,123961,105899,66399,50965,31801,1661,2869,22687,322,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,9,Ciudad de México,15,Cuauhtémoc,1,Cuauhtémoc,"99°09'06.781"" W","19°26'29.928"" N",2230.0,545884,...,183557,157682,98006,87040,45215,4197,4123,31274,632,13
662,9,Ciudad de México,16,Miguel Hidalgo,0,Total del Municipio,NaN,NaN,NaN,414470,...,137103,124777,88559,77955,39658,2459,2398,15787,419,*
663,9,Ciudad de México,16,Miguel Hidalgo,1,Miguel Hidalgo,"99°11'26.716"" W","19°24'26.168"" N",2264.0,414470,...,137103,124777,88559,77955,39658,2459,2398,15787,419,12
664,9,Ciudad de México,17,Venustiano Carranza,0,Total del Municipio,NaN,NaN,NaN,443704,...,124244,102008,62293,44934,28376,1895,3850,27580,414,*
665,9,Ciudad de México,17,Venustiano Carranza,1,Venustiano Carranza,"99°06'49.324"" W","19°25'09.343"" N",2230.0,443704,...,124244,102008,62293,44934,28376,1895,3850,27580,414,12

In [22]:
# we only want the population of the municipalities
poblacion=censo[['MUN', 'NOM_MUN','LOC','POBTOT', 'POBFEM', 'POBMAS']]

In [23]:
poblacion

,MUN,NOM_MUN,LOC,POBTOT,POBFEM,POBMAS
0,0,Total de la entidad Ciudad de México,0,9209944,4805017,4404927
1,0,Total de la entidad Ciudad de México,9998,320,128,192
2,0,Total de la entidad Ciudad de México,9999,364,178,186
3,2,Azcapotzalco,0,432205,227255,204950
4,2,Azcapotzalco,1,432205,227255,204950
...,...,...,...,...,...,...
661,15,Cuauhtémoc,1,545884,284933,260951
662,16,Miguel Hidalgo,0,414470,219003,195467
663,16,Miguel Hidalgo,1,414470,219003,195467
664,17,Venustiano Carranza,0,443704,233586,210118
665,17,Venustiano Carranza,1,443704,233586,210118

In [24]:
censo['NOM_MUN'].unique()

array(['Total de la entidad Ciudad de México', 'Azcapotzalco', 'Coyoacán',
       'Cuajimalpa de Morelos', 'Gustavo A. Madero', 'Iztacalco',
       'Iztapalapa', 'La Magdalena Contreras', 'Milpa Alta',
       'Álvaro Obregón', 'Tláhuac', 'Tlalpan', 'Xochimilco',
       'Benito Juárez', 'Cuauhtémoc', 'Miguel Hidalgo',
       'Venustiano Carranza'], dtype=object)

In [25]:
# it says the total population of the mun
poblacion=poblacion[poblacion['LOC'] == 0]

In [26]:
poblacion

     MUN                               NOM_MUN  LOC   POBTOT   POBFEM   POBMAS
0      0  Total de la entidad Ciudad de México    0  9209944  4805017  4404927
3      2                          Azcapotzalco    0   432205   227255   204950
5      3                              Coyoacán    0   614447   325337   289110
7      4                 Cuajimalpa de Morelos    0   217686   113537   104149
34     5                     Gustavo A. Madero    0  1173351   609477   563874
36     6                             Iztacalco    0   404695   212343   192352
38     7                            Iztapalapa    0  1835486   947835   887651
40     8                La Magdalena Contreras    0   247622   129335   118287
66     9                            Milpa Alta    0   152685    78314    74371
313   10                        Álvaro Obregón    0   759137   398130   361007
322   11                               Tláhuac    0   392313   202123   190190
377   12                               Tlalpan    0   699928   365051   334877
544   13                            Xochimilco    0   442178   226726   215452
658   14                         Benito Juárez    0   434153   232032   202121
660   15                            Cuauhtémoc    0   545884   284933   260951
662   16                        Miguel Hidalgo    0   414470   219003   195467
664   17                   Venustiano Carranza    0   443704   233586   210118

In [27]:
# drop the rowns where MUN == Total de la entidad blabla
poblacion = poblacion[poblacion['MUN'] != 0]

In [28]:
poblacion.drop(columns=['LOC'], inplace=True)

C:\Users\herie\AppData\Local\Temp\ipykernel_19664\392878340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poblacion.drop(columns=['LOC'], inplace=True)

In [29]:
poblacion

     MUN                 NOM_MUN   POBTOT  POBFEM  POBMAS
3      2            Azcapotzalco   432205  227255  204950
5      3                Coyoacán   614447  325337  289110
7      4   Cuajimalpa de Morelos   217686  113537  104149
34     5       Gustavo A. Madero  1173351  609477  563874
36     6               Iztacalco   404695  212343  192352
38     7              Iztapalapa  1835486  947835  887651
40     8  La Magdalena Contreras   247622  129335  118287
66     9              Milpa Alta   152685   78314   74371
313   10          Álvaro Obregón   759137  398130  361007
322   11                 Tláhuac   392313  202123  190190
377   12                 Tlalpan   699928  365051  334877
544   13              Xochimilco   442178  226726  215452
658   14           Benito Juárez   434153  232032  202121
660   15              Cuauhtémoc   545884  284933  260951
662   16          Miguel Hidalgo   414470  219003  195467
664   17     Venustiano Carranza   443704  233586  210118

In [30]:
# MUN from 2 to 002
poblacion['MUN'] = poblacion['MUN'].astype(str).str.zfill(3)

C:\Users\herie\AppData\Local\Temp\ipykernel_19664\1097160471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poblacion['MUN'] = poblacion['MUN'].astype(str).str.zfill(3)

In [31]:
# add a 9 before the MUN
poblacion['MUN'] = '9' + poblacion['MUN']

C:\Users\herie\AppData\Local\Temp\ipykernel_19664\2205701887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poblacion['MUN'] = '9' + poblacion['MUN']

In [32]:
# change the names of the columns
poblacion.rename(columns={'MUN': 'Clave', 'NOM_MUN': 'Municipio', 'POBTOT': 'Poblacion Total', 'POBFEM': 'Poblacion Femenina', 'POBMAS': 'Poblacion Masculina'}, inplace=True)

C:\Users\herie\AppData\Local\Temp\ipykernel_19664\3394789658.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poblacion.rename(columns={'MUN': 'Clave', 'NOM_MUN': 'Municipio', 'POBTOT': 'Poblacion Total', 'POBFEM': 'Poblacion Femenina', 'POBMAS': 'Poblacion Masculina'}, inplace=True)

In [33]:
poblacion

,Clave,Municipio,Poblacion Total,Poblacion Femenina,Poblacion Masculina
3,9002,Azcapotzalco,432205,227255,204950
5,9003,Coyoacán,614447,325337,289110
7,9004,Cuajimalpa de Morelos,217686,113537,104149
34,9005,Gustavo A. Madero,1173351,609477,563874
36,9006,Iztacalco,404695,212343,192352
38,9007,Iztapalapa,1835486,947835,887651
40,9008,La Magdalena Contreras,247622,129335,118287
66,9009,Milpa Alta,152685,78314,74371
313,9010,Álvaro Obregón,759137,398130,361007
322,9011,Tláhuac,392313,202123,190190
377,9012,Tlalpan,699928,365051,334877
544,9013,Xochimilco,442178,226726,215452
658,9014,Benito Juárez,434153,232032,202121
660,9015,Cuauhtémoc,545884,284933,260951
662,9016,Miguel Hidalgo,414470,219003,195467
664,9017,Venustiano Carranza,443704,233586,210118

In [34]:
poblacion.to_csv(r'poblacion-cdmx.csv', index=False)